<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/<{$xoops_dirname}>/kshop.css" />

<script src="<{$xoops_url}>/modules/<{$xoops_dirname}>/sorttable.js"></script>

<a href="categories.php?mode=add&id=1"><{$smarty.const.KS_ADDMAINCAT}></a>

<table class="sortable" id="cat_list" width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><{$smarty.const.KS_ACTION}></td>
    <td><{$smarty.const.KS_ID}></td>
    <td><{$smarty.const.KS_CATEGORY}></td>
    <td><{$smarty.const.KS_SUBCATEGORY}></td>
    <td><{$smarty.const.KS_SORTORDER}></td>
  </tr>
  <{foreach item=cat from=$cats}>
  <tr class="<{cycle values="odd,even"}>">
    <td>
    <a title="<{$smarty.const.KS_EDITCAT}>" href="categories.php?mode=edit&id=<{$cat.id}>"><img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/edit.png" width="14" height="15"></a>
    
    <a title="<{$smarty.const.KS_DELCAT}>" href="categories.php?mode=del&id=<{$cat.id}>" onClick="return confirm('<{$smarty.const.KS_CONFIRMDEL}>')"><img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/del.png" width="14" height="15"></a>
      
      <a title="<{$smarty.const.KS_ADDSUBCAT}>" href="categories.php?mode=add&id=<{$cat.id}>"><img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/new_sub.png" width="14" height="15"></a>
      
      <a title="<{$smarty.const.KS_ADDPRODUCT}>" href="products.php?mode=add&category_id=<{$cat.id}>"><img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/new.png" width="14" height="15"></a>                  
    </td>
    <td><{$cat.id}></td>
    <td><{$cat.name}></td>
    <td><{$cat.parent}></td>
    <td><{$cat.sort}></td>
  </tr>
 <{/foreach}> 
  </table>


