<{include file="db:ks_main_header.html"}>

<table cellpadding="2" cellspacing="0" width="100%">
<tr><td align="center" nowrap="nowrap">
        <span class="<{$chkstep1}>">1. <{$smarty.const.KS_STEP1}></span>&nbsp;&nbsp;-&nbsp;&nbsp;
        <span class="<{$chkstep2}>">2. <{$smarty.const.KS_STEP2}></span>&nbsp;&nbsp;-&nbsp;&nbsp;
        <span class="<{$chkstep3}>">3. <{$smarty.const.KS_STEP3}></span>&nbsp;&nbsp;-&nbsp;&nbsp;
		<span class="<{$chkstep4}>">4. <{$smarty.const.KS_STEP4}></span>
    </td></tr>
</table>